body {
    font-family: 'Arial';
    margin: 40px;
}

.wrapper {
    display: grid;
    background-color: mediumturquoise;
    grid-template-rows: 400px 100px 200px;
    grid-gap: 10px;
}

.box {
    background-color: burlywood;
    border-radius: 5px;
}